.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
.venv*/
.env


data/financial_transactions.csv

# Terraform local providers and state
.terraform/
*.tfstate
*.tfstate.backup

